body {
  margin-left: 220px;
  font-family: 'Raleway', sans-serif;
}

.clear {
  clear: both;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.top-bar {
  background-color: #ef5350;;
  height: 60px;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;

  & .main-nav {
    display: inline-block;

    & ul li {
      float: left;
    }

    & ul li a {
      color: #ffffff;
      font-size: 12px;
      font-weight: 300;
      letter-spacing: 1px;
      line-height: 60px;
      padding: 23px 35px;
      text-decoration: none;

      &:hover {
        background-color: #e53935;
      }
    }
  }
}

.logo {
  color: #ffffff;
  background-color: #263238;
  float: left;
  font-size: 24px;
  font-weight: 800;
  line-height: 60px;
  text-align: center;
  text-decoration: none;
  width: 220px;
}

.country-title {
  color: #fff;
  display: block;
  font-size: 24px;
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 60px;
  padding-left: 50px;
}


/* NAVIGATION ============================================ */
nav {
  background-color: #37474F;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0px;
  width: 220px;
  z-index: 10;

  & ul {
    float: left;
    margin-top: 80px;
  }

  & ul li {
    top: 60px;
  }

  & ul li a {
    color: #607D8B;
    float: left;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 20px 20px 20px 40px;
    text-decoration: none;
    width: 160px;

    &:hover {
      background-color: #263238;
    }

    &.selected {
      background-color: #263238;
      color: #ffffff;
    }
  }

}

/* BUTTON ============================================ */



/* USER CARD ============================================ */
.cards {
  padding: 100px 0 0 40px;
}

#cards {

  & button {
    background-color: #ef5350;
    border: 0px;
    border-radius: 2px;
    color: #ffffff;
    cursor: pointer;
    display: block;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 1px;
    margin-top: 20px;
    padding: 15px 0;
    width: 150px;

    &:hover {
      background-color: #e53935;
      transition: all .3s;
    }
  }

  & .card {
    background-color: #ECEFF1;
    border-bottom: 10px solid #ef5350;
    border-radius: 2px;
    display: block;
    float: left;
    margin: 0 40px 40px 0;
    padding: 25px;
    transition: all .3s;
    width: 400px;

    & img {
      border-radius: 2px;
      float: left;
      width: 150px;
    }

    & ul {
      margin-left: 140px;
    }

    & ul li {
      color: #263238;
      font-size: 12px;
      line-height: 18px;
      margin: 0 0 10px 25px;
      text-transform: capitalize;

      & span {
        font-weight: 800;
      }
    }
  }

  & .card:hover {
    border-bottom: 10px solid #263238;
    // box-shadow: 0px 6px 16px rgba(#000, .2), 0px 6px 16px rgba(#000, .2);
    cursor: pointer;
    transform: scale(1.05);
  }
}