body {
  margin-left: 220px;
  font-family: 'Raleway', sans-serif;
}

.clear {
  clear: both;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.top-bar {
  background-image: linear-gradient(to right, $pink 0%, $purple 100%);
  background-image: -webkit-linear-gradient(to right, $pink 0%, $purple 100%);
  background-image: -moz-linear-gradient(to right, $pink 0%, $purple 100%);
  height: 60px;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;

  & .main-nav {
    display: inline-block;
  }
}

.logo {
  color: $white;
  background-color: $bluegrey-900;
  float: left;
  font-size: 24px;
  font-weight: 800;
  line-height: 60px;
  text-align: center;
  text-decoration: none;
  width: 200px;
}

.country-title {
  color: #fff;
  display: block;
  font-size: 24px;
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 60px;
  padding-left: 40px;
}


/* NAVIGATION ============================================ */
nav {
  background-color: $bluegrey-800;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0px;
  width: 200px;
  z-index: 10;

  & ul {
    float: left;
    margin-top: 80px;
  }

  & ul li {
    top: 60px;
  }

  & ul li a {
    color: $bluegrey-500;
    float: left;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 20px 20px 20px 30px;
    text-decoration: none;
    width: 150px;

    &:hover {
      background-color: $bluegrey-900;
    }

    &.selected {
      background-color: $bluegrey-900;
      color: $white;
    }
  }

}

/* BUTTON ============================================ */



/* USER CARD ============================================ */
.cards {
  padding: 100px 0 0 20px;
}

#cards {

  & .card {
    background-color: $bluegrey-50;
    border-bottom: 10px solid $pink;
    border-radius: 2px;
    display: block;
    float: left;
    margin: 0 40px 40px 0;
    padding: 25px;
    transition: all .3s;
    width: 400px;

    & img {
      border-radius: 2px;
      float: left;
      width: 150px;
    }

    & ul {
      margin-left: 140px;
    }

    & ul li {
      color: $bluegrey-900;
      font-size: 12px;
      line-height: 18px;
      margin: 0 0 10px 25px;
      text-transform: capitalize;

      & span {
        font-weight: 800;
      }
    }
  }

  & .card:hover {
    border-bottom: 10px solid $purple;
    cursor: pointer;
    transform: scale(1.05);
  }
}