/*
** RESPONSIVE SETTINGS
**
*/

$breakpoint-small: 480px;
$breakpoint-medium: 780px;
$breakpoint-large: 1200px;


/*
** COLORS
**
*/

$white: #FFFFFF;
$pink: #EC77AB;
$purple: #7873F5;

$bluegrey-50: #ECEFF1;
$bluegrey-500: #607D8B;
$bluegrey-800: #37474F;
$bluegrey-900: #263238;